<h1><%= @user.name %>'s Profile</h1>

<p><strong>Name:</strong> <%= @profile.name %></p>
<p><strong>Avatar:</strong> <%= @profile.avatar %></p>
<p><strong>Bio:</strong> <%= link_to @profile.bio %></p>
<p><strong>Social Media:</strong> <%= @profile.contact %></p>

<%= link_to "Edit Profile", edit_user_profile_path(@user) %>