<p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
  <%= link_to "Edit this card", edit_card_path(@card) %> |
  <%= link_to "Back to cards", cards_path %>

  <%= button_to "Destroy this card", @card, method: :delete %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<h2>Comments</h2>
<%= render @card.comments %>